* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-;
}

body {
  padding: 0 40px;
}

.container {
  display: fex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  display: block;
  text-align: center;
  padding: 40px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.botones {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
button {
  margin-right: auto;
  margin-left: auto;

  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    background-color: green;
  }
}

table {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
  text-align: center;
}
th:nth-child(1) {
  width: 6%;
}
th:nth-child(2) {
  width: 47%;
}
th:nth-child(3) {
  width: 47%;
}

tr:hover {
  background-color: rgb(100, 206, 100);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
// asdasd
